
.jumbotron-summary{
    margin: 0.5em;
    margin-bottom: 0.5em !important;
    background-color: #e9ecef73 !important;
    border-radius: 15px !important;

    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(90, 97, 105, 0.11) 0px 2px 0px, rgba(90, 97, 105, 0.12) 0px 4px 8px, rgba(90, 97, 105, 0.06) 0px 10px 10px, rgba(90, 97, 105, 0.1) 0px 7px 70px;
}

.jumbotron-summary .badge{
    font-size: 0.9em;
    margin-left: 0.45em;
}

.text-summary{
    margin-top: 1em;
    font-size: 1.5em;
    font-weight: 400;
    font-family: 'Oxygen';
}

.summary-proj-name{
    color: dimgray;
}

ul#summary-incident-list{
    list-style-type: none;
    padding-left: 1em;
}

ul#summary-incident-list li {
    margin:0 0 5px 0;
    color: gray;   
 }

 #summary-left-half{
     border-right: solid 1px rgba(0,0,0,.1);
 }

 ul#summary-incident-list span.badge{
     float: right;
     min-width: 2rem;
 }

 .summary-subtitle{
    text-align: center;
    font-family: "Oxygen";
    font-size: 17px;
    color: #3c6478;
 }

 .score-badge{
    background-color: #B8CC4F;
    padding: 0.2rem;
    border-radius: 50%;
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 1em;
    text-align: center;
    width: 2.6rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(90, 97, 105, 0.11) 0px 2px 0px, rgba(90, 97, 105, 0.12) 0px 4px 8px, rgba(90, 97, 105, 0.06) 0px 10px 10px, rgba(90, 97, 105, 0.1) 0px 7px 70px;
 }

@media (min-width: 576px){
    .jumbotron {
        padding: 1rem 2rem !important;
    }
}

/* Styles for small devices, mobile */
@media (max-width: 576px) {
    #summary-left-half{
        border-right: none;
    }
}

img.dashboard-cloud-logo{
    width: 3.5em;
    margin-top: 1.5em;
}

#component-card-container{
    margin-top: 1em;
}

/* Accordeon styles */

.accordeon-card-header{
    font-family: "Oxygen";
}

div.accordeon-card-header button{
    text-decoration: none !important;
    color: #3c6478;
}

span.accordeon-header-right{
    float: right;
    color: #3c6478;
}

span.accordeon-header-component-count{
    margin-right: 15px;
    font-size: 19px;
}


/* ------------------ */